@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto Slab'");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 50px 100px;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

/* style for header */

.header {
  display: flex;
  align-self: flex-start;
  margin-left: 10rem;
}

.header-h1 {
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 0.625rem;
  font-size: 1.25rem;
  margin-top: 2.2rem;
}

.nav-item {
  text-decoration: none;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.user-icon-c {
  position: absolute;
  border-radius: 0.9rem;
  background-color: #e8e8e8;
  height: 2.2rem;
  right: 9.4rem;
}

.user-icon {
  color: #0290ff;
  font-size: 1.56rem;
  padding: 0.3rem;
  cursor: pointer;
}
/* style for books */

.book-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.25rem;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 1.56rem;
  margin: 0.9rem 0;
}

.add-book-h2 {
  color: #888;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-title {
  padding: 10px;
  width: 400px;
}

.input-author {
  padding-left: 0.5rem;
  width: 300px;
}

.input-category {
  padding: 10px;
}

.add-book-btn {
  width: 130px;
  background-color: #0290ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.booklist-h3 {
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-title {
  color: #121212;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 20px;
  margin: 0 0 5px 0;
}

.book-author {
  color: #4386bf;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.book-btns {
  display: flex;
}

.remove-btn {
  color: #4386bf;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 15px;
}

/* style for categories */

.category-h1 {
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
}
